<div class="login_top">
  <p>Sign up with Marrow</p>
  <form action="">
    <p class="singup_p">Sign up to access 28,000+ highly selected MCQs, 640+ hours of videos and 140 test series including grand tests.</p>
    <div class="fb_login signup_btn">
      <button type="button" class="btn btn-primary">
        <span><i class="fab fa-facebook-f"></i></span>
        <span>Signup with Facebook</span>
      </button>
    </div>
    <div class="fb_login signup_btn sinup_mail ">
        <button type="button" class="btn btn-primary">
          <span><i class="fas fa-envelope"></i></span>
          <span>Signup with Email</span>
        </button>
    </div>
  </form>
</div>
<div class="new_user">
  <hr>
  <p> Already a user? <a routerLink="/login" routerLinkActive="active">Log in</a> </p>
</div>
