<div class="login_top">
  <p>Reset Password</p>
  <form name="form" [formGroup]="form">
    <div class="enteryournumber">
      <div class="row no-gutters ">
        <div class=" col-md-12 input_space_right">

          <input type="email" class="form-control" placeholder="Enter your email" autocomplete="off"
          formControlName="email" [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid}"
          #email>

        <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
          <div *ngIf="form.get('email').errors['required']">Email Name is required</div>
          <div *ngIf="form.get('email').errors['email']">Email must be a valid email address</div>
        </div>


        </div>
      </div>
    </div>
    <div class="get">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Request for reset password</button>
    </div>
    <div class="fb_login">
      <button type="button" class="btn btn-primary">
        <span><i class="fab fa-facebook-f"></i></span>
        <span>Log in with Facebook</span>
      </button>
    </div>
  </form>
</div>
<div class="new_user">
  <hr>
  <p> New user? <a routerLink="/signup" routerLinkActive="active">Signup</a> </p>
</div>
